@media screen {
	.linkalert-box {
		box-sizing: content-box;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1000000000;
		margin: 0;
		padding: 0;
	}
	
	.linkalert-icon {
		box-sizing: content-box;
		position: absolute;
		padding: 0;
		margin: 0;
		top: 2px;
	}
}

@media print {
	.linkalert-box {
		display: none !important;
		visibility: hidden !important;
	}
	.linkalert-icon {
		display: none !important;
		visibility: hidden !important;
	}
}

